---
name: Checks

on: [push]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build
        run: |
          docker compose up --build

      - name: Run Tests
        run: |
          docker compose run --rm app sh -c "python manage.py test"

      - name: Check Python Version
        run: docker compose run --rm app python --version

      - name: Check Installed Packages
        run: docker compose run --rm app pip freeze

      - name: Lint
        run: docker compose run --rm app sh -c "flake8"
