---
name: Checks

on: [push]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List Directory
        run: ls -la /app

      - name: Check Python Version
        run: docker-compose -f ./docker-compose.yaml run --rm app python --version

      - name: Check Installed Packages
        run: docker-compose -f ./docker-compose.yaml run --rm app pip freeze

      - name: Install Docker and Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker.io docker-compose

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Run Tests
        run: |
          docker-compose -f ./docker-compose.yaml build  # Build the image
          docker-compose -f ./docker-compose.yaml run --rm app sh -c "python manage.py test"

      - name: Lint
        run: docker-compose run --rm app sh -c "flake8"
